<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2>REGISTRO</h2>
    <!-- ? Icono -->
    <div class="fadeIn first">
      <img src="./assets/LogoVertical.jpg" width="150px" height="150px" id="icon"
        alt="Universidad Piloto de Colombia" />
    </div>

    <!-- ? Ingresar -->
    <form (ngSubmit)="onRegister(form)" #form="ngForm">


      <div *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">El email es
        obligatorio</div>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="E-mail" [(ngModel)]="user.email"
        required>

      <div *ngIf="form.submitted && form.controls['password'].errors" class="text-danger animated fadeIn">
        6 caracteres mínimo
      </div>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña"
        [(ngModel)]="user.password" minlength="6" required>

      <input type="submit" class="fadeIn fourth bg-dark" value="Registrarse">
    </form>

  </div>
</div>