<div class="jumbotron">
  <h2 class="display-5">Votar por el candidato</h2>
  <hr class="my-4">
  <p class="lead">
    Elige tu candidato por Representante Estudiantil
  </p>
  <div>
    <button class="btn btn-success" (click)="getCandidates()">Cargar candidatos</button>
  </div>
</div>





<div>
  <button class="btn btn-info" (click)="checkEmailVoter()" *ngIf="!estado">Verificar disponibilidad</button>
</div>

<div class="row row-cols-1 row-cols-md-2">

  <div class="col-sm-6" *ngFor="let candidate of candidates; index as i">
    <div class="card border-danger mb-3">
      <div class="card-body">
        <h5 class="card-title">{{candidate.name}}</h5>
      </div>

      <div class="card-footer text-muted">
        <button class="btn btn-danger" *ngIf="estado" (click)="confirmVoteBeforeDo(i)">
          Votar
        </button>
      </div>

    </div>
  </div>

</div>