<h2 class="wrapper fadeInDown">ADMINISTRADOR</h2>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <form (ngSubmit)="onLogin(form)" #form="ngForm">
      <div *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">
        Ingresa tu email
      </div>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="E-mail" [(ngModel)]="admin.email"
        required>

      <div *ngIf="form.submitted && form.controls['password'].errors" class="text-danger animated fadeIn">
        Ingresa tu contraseña
      </div>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña"
        [(ngModel)]="admin.password" required>
        
      <input type="submit" class="fadeIn fourth bg-dark" value="Ingresar" required>
    </form>

  </div>
</div>

