<div class="jumbotron fadeInDown">
  <!--<img src="../../../assets/Universidad-Piloto-Colombia.jpg" width="100%" height="180px" alt="">-->
  <h3 class="display-4">Elección Representante Estudiantil</h3>
  <hr class="my-4">
  <p>
    Elección del Representante Estudiantil del programa de Ingeniería de Sistemas 2020 - 2022
  </p>
  <p>
    <i>
      Prototipo de votación eléctronica basada en tecnología Blockchain, con la red pública de Ethereum para la
      Universidad Piloto de Colombia, facultada de Ingeniería de Sistemas - 2020
    </i>
  </p>
</div>

<div class="card">
  <div class="card-header">
    Sobre la herramienta
  </div>
  <div class="card-body">
    <h5 class="card-title">Prototipo de votación eléctronica sustentada con tecnología Blockchain</h5>
    <p class="card-text">
      A continuación se listan las tecnologías utilizadas para el desarrollo de la solución de votación eléctronica.
    </p>

      <ul class="list-group list-group">
        <li class="list-group-item">
          <img src="./assets/ethereum-logo.png" width="60px" height="60px" alt="">
          Ethereum
        </li>
        <li class="list-group-item">
          <img src="./assets/angular.png" width="60px" height="60px" alt="">
          Angular
        </li>
        <li class="list-group-item">
          <img src="./assets/firebase.png" width="55px" height="55px" alt="">
          Firebase
        </li>
        <li class="list-group-item">
          <img src="./assets/metamask.png" width="60px" height="60px" alt="">
          Metamask
        </li>
        <li class="list-group-item">
          <img src="./assets/infura.png" width="60px" height="60px" alt="">
          Infura
        </li>
        <li class="list-group-item">
          <img src="./assets/truffle.png" width="60px" height="60px" alt="">
          Truffle
        </li>
      </ul>

  </div>
</div>

<button (click)="loadVoters()">Cargar Votantes</button>
<button (click)="getContractBalance()">CONTRACT BALANCE</button>
<button (click)="deposit()">Deposit Balance</button>
<button (click)="withdraw()">Obtener ETHER</button>
